<h1 [ngStyle]="{'margin-bottom': '0px', 'font-size': '4vw'}">I'm <a routerLink="" (click)="newWindow('https://github.com/etorresh')"><span [@animateText]="theme.currentTheme()" style="text-decoration: underline">Emilio Torres.</span></a></h1>
<p style="margin-top: 1.5vw">A software developer</p>
<p [ngStyle]="{'margin-top': '-3vw', 'margin-bottom': '0px'}">in Calgary, AB.</p>
<p style="margin-top: 1.5vw">Let's <a href = "mailto: emilio.torres.hinojosa@gmail.com"><span [@animateText]="theme.currentTheme()" style="text-decoration: underline">work together!</span></a></p>
