.vertical-line {
  border-left: 8px solid #2472a3;
  height: 90px;
}

.horizontal-line {
  border-top: 8px solid #2472a3;
  width: 390px;
}

.card {
  width: 320px;
  height: 421px;
  margin-top: 25px;
}

.card-row {
  margin-top: 25px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card-text {
  font-size: 12px;
}

.footer-img {
  width: 50px;
  height: 46px;
}

.about-header {
  padding-top: 80px;
}

.footer {
  z-index: 1;
  border-top: 1px #c5c8c9 solid;
  background-color: white;
}

.btn-light {
  margin: 5px;
}

.align-text {
  text-align: right;
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  .title-optional {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .align-text {
    text-align: center;
  }
}

@media only screen and (min-width: 1201px) {
  .card-row {
    margin-top: 75px;
  }
}

@media only screen and (max-width: 1297px) {
  .last-card {
    margin-bottom: 165px;
  }
}

@media only screen and (min-width: 953px) {
  .other-cards {
    margin-left: 25px;
  }
}

@media only screen and (min-width: 992px) {
  .btn-align {
    display: block;
    margin: 21px 27px;
    line-height: 1.42857143;
    vertical-align: middle;
  }
  .btn-light {
    margin: 15px;
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .card {
    margin-right: auto;
    margin-left: auto;
  }
}
