.vertical-line {
  border-left: 8px solid #2472a3;
  height: 90px;
}

.card {
  width: 320px;
  margin-left: 25px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card-text {
  font-size: 12px;
}

.about-header {
  padding-top: 80px;
}

.footer {
  z-index: 1;
  border-top: 1px #c5c8c9 solid;
  background-color: white;
}

.btn-align {
  display: block;
  margin: 21px 27px;
  line-height: 1.42857143;
  vertical-align: middle;
}

.btn-light {
  margin: 15px;
  display: block;
}

.align-text {
  text-align: right;
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  .title-optional {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .align-text {
    text-align: center;
  }

  .disable-phone {
    display: none;
  }
}
