<div class="container-fluid w-100 h-100">
  <div class="row my-5">
    <div class="col-4 offset-1 d-flex align-items-center">
      <h1 class="text-right m-0 w-100">Emilio Torres<br> A Software Developer.</h1>
      <div class="vertical-line ml-3"></div>
    </div>
    <div class="col-6 d-flex align-items-center">
      <p class="m-0" style="font-size: 20px">Hi! This website is a collection of the things I have learned and created over the years.</p>
    </div>
  </div>
  <div class="card mx-auto">
    <img class="card-img-top" src="assets/about/vallarta.jpg" alt="Puerto Vallarta" style="height: 240px">
    <div class="card-body">
      <h5 class="card-title">A B O U T&nbsp;&nbsp;&nbsp;&nbsp;M E</h5>
      <p class="card-text">I’m Emilio Torres, I’m studying Computer Science at the University of Calgary.
        I started learning to program when I was 11 years old because I wanted to create mods
        for Minecraft. I then focused on learning C# and Javascript, coding websites, web apps, and
        Unity3D games.</p>
    </div>
  </div>
</div>
