<div class="container-fluid w-100 h-100">
  <div class="row about-header">
    <div class="col-xl-5 d-flex align-items-center col-lg-12">
      <h1 class="align-text m-0 w-100">Emilio Torres<br> <span class="title-optional">A Software Developer.</span></h1>
      <div class="vertical-line ml-3 disable-phone"></div>
    </div>
    <div class="col-xl-6 col-lg-12 d-flex align-items-center">
      <p class="m-0 disable-phone" style="font-size: 20px">Hi! This website is a collection of the things I have learned and created over the years.</p>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
      <div class="card">
        <img class="card-img-top" src="assets/about/vallarta.jpg" alt="Puerto Vallarta" style="height: 240px">
        <div class="card-body">
          <h5 class="card-title">A B O U T&nbsp;&nbsp;&nbsp;&nbsp;M E</h5>
          <p class="card-text">I’m Emilio Torres, I’m studying Computer Science at the University of Calgary.
            I started learning to program when I was 11 years old because I wanted to create mods
            for Minecraft. I then focused on learning C# and Javascript, coding websites, web apps, and
            Unity3D games.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/about/workingSpace.jpg" alt="Working space" style="height: 240px">
        <div class="card-body">
          <h5 class="card-title">W H A T&nbsp;&nbsp;&nbsp;&nbsp;I&nbsp;&nbsp;&nbsp;&nbsp;A M&nbsp;&nbsp;&nbsp;&nbsp;W O R K I N G&nbsp;&nbsp;&nbsp;&nbsp;O N</h5>
          <p class="card-text">In my free time, I develop and make videos about stuff that I find fun. Lately, a fighting game where players control their character through Twitch chat, and a bot to automate social media interactions to farm likes, comments, and followers on Twitter.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/about/snowboard.jpg" alt="Snowboard" style="height: 240px">
        <div class="card-body">
          <h5 class="card-title">M Y&nbsp;&nbsp;&nbsp;&nbsp;H O B B I E S </h5>
          <p class="card-text">My hobbies include meeting new people, bowling, snowboarding, and being disappointed by Game of Thrones ending.</p>
        </div>
      </div>
  </div>
  <div class="fixed-bottom footer" [@openClose]="this.particles.sidebar ? 'open' : 'close'">
    <div class="container">
      <div class="row text-center mt-4">
        <div class="col-4">
          <img src="assets/about/undraw_map_1r69.svg" alt="Map" width="50">
          <h6 class="btn-align">Calgary, Alberta</h6>
        </div>
        <div class="col-4">
          <img src="assets/about/undraw_Resume_re_hkth.svg" alt="Resume" width="50">
          <a href="assets/documents/Emilio%20Torres%20Resume.pdf" target="_blank" download style="text-decoration: none">
            <button type="button" class="btn btn-light mx-auto" style="margin: 15px">Download Resume</button>
          </a>
        </div>
        <div class="col-4">
          <img src="assets/about/undraw_Mailbox_re_dvds.svg" alt="Mailbox" width="50">
          <a class="btn-align" href="mailto:me@etorresh.com" target="_blank">me@etorresh.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
