.vertical-line {
  border-left: 8px solid #2472a3;
  height: 90px;
}

.card {
  width: 320px;
  margin-left: 25px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card-text {
  font-size: 12px;
}

.about-header {
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer {
  z-index: 1;
}
