<div class="d-flex ">
  <div class="sidebar sticky-top" [@openClose]="status ? 'open' : 'close'">
    <app-sidebar></app-sidebar>
  </div>
  <div class="sticky-top">
    <button type="button" class="btn shadow-none" (click)="toggleSidebar()" style="background-color: #2472a3">
      <fa-icon [icon]="faAlignLeft"></fa-icon>
    </button>
  </div>
  <div class="content flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
<!--<ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" [keyboard]="false" [interval]="0" style="width: 200px">-->
<!--  <ng-template ngbSlide>-->
<!--    <div>-->
<!--      <img src="assets/myFace/myFace1.jpg">-->
<!--    </div>-->
<!--  </ng-template>-->
<!--  <ng-template ngbSlide>-->
<!--    <div>-->
<!--      <img src="assets/myFace/myFace2.png">-->
<!--    </div>-->
<!--  </ng-template>-->
<!--  <ng-template ngbSlide>-->
<!--    <div>-->
<!--      <img src="assets/myFace/myFace3.jpg">-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</ngb-carousel>-->
