<div class="d-flex">
  <div class="position-fixed fixed-top">
    <div [@openClose]="{value: (this.sidebarService.getActive() | async) ? 'open' : 'close', params: {left_indent: amountToShiftSidebar}}" >
      <app-sidebar></app-sidebar>
    </div>
    <div>
      <button type="button" class="btn shadow-none" (click)="toggleSidebar()" style="background-color: #2472a3">
        <fa-icon [icon]="faAlignLeft"></fa-icon>
      </button>
    </div>
  </div>
  <div *ngIf="!mobile" class="flex-grow-1" [@openCloseContent]="(this.sidebarService.getActive() | async) ? 'open' : 'close'">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="mobile" class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
