<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="text-center float-left sidebar" orientation="vertical" style="overflow: hidden">
  <div class="my-auto">
    <li style="margin-bottom: 10px">
      <img class="rounded-circle border" style="width: 55%" src="assets/myFace.jpg" alt="My face">
    </li>
    <div>
      <li *ngFor="let option of options" ngbNavItem = "{{option}}" class="overflow-hidden">
        <a ngbNavLink routerLinkActive="selected" [routerLink]="option | lowercase">{{option}}</a>
      </li>
    </div>
  </div>
</ul>
