<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="text-center float-left sidebar" orientation="vertical">
  <div class="my-auto">
    <li style="margin-bottom: 10px">
      <ngb-carousel #carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" [keyboard]="false" [interval]="0" class="face-button">
        <ng-template ngbSlide *ngFor="let face of myFaces">
          <img class="rounded-circle border" [src]="face" (click)="this.carousel.next()" alt="Emilio's face">
        </ng-template>
      </ngb-carousel>
    </li>
    <div>
      <li *ngFor="let option of options" ngbNavItem = "{{option}}">
        <a ngbNavLink class="text-center" routerLinkActive="selected" [routerLink]="option | lowercase"><b>{{option}}</b></a>
      </li>
    </div>
  </div>
</ul>
