.sidebar {
  background: #2472a3;
  height: 100vh;
}

a {
  color: #8fb8d4;
}

a:hover {
  color: #c9e0f0;
}

.selected {
  color: white !important;
}

/*
!important is needed in this case because Bootstrap also uses !important in many of the utility classes like border-*.
 */
.border {
  border-width: 7px !important;
  border-color: #4f8db4 !important;
  width: 158px;
  height: 158px;
  cursor: pointer;
}

.face-button {
  outline: none;
  width: 288px;
}

@media only screen and (max-width: 992px) {
  .face-button {
    width: 100vw;
  }
}
