.project-logo {
  border-radius: 20px;
  width: 135px;
}

.project-title {
  color: #353e3d;
  font-size: 55px;
}

.project-description {
  color: #7e8282;
  font-size: 25px;
}

.galaxer-color {
  color: #353e3d;
}

