<div class="card">
  <div class="card-body">
    <img src="assets/GalaxerIcon.jpg" class="img-fluid project-logo" alt="Galaxer Icon">
    <h1 class="card-title"><b>Galaxer</b></h1>
    <div class="card-text">
      <p class="project-description" style="opacity: 90%">Galaxer is a strategy game for 2 to 4 players for Android.</p>
      <p class="project-description"><b>Technologies: </b><span style="opacity: 90%">C# and Unity3D.</span></p>
    </div>
    <div>
      <a href="https://github.com/etorresh/Galaxer" target="_blank"><img src="assets/github.svg" alt="GitHub logo" width="45px"></a>
      <a href="https://play.google.com/store/apps/details?id=com.enodriza.galaxer" target="_blank" class="ml-5" ><img src="assets/playstore.svg" alt="PlayStore logo" width="45px"></a>
    </div>
    </div>
</div>
