<div class="particles-wrapper">
  <canvas appParticles></canvas>
</div>
<div class="video-wrapper" [ngClass]="{'video-wrapper-no-sidebar': !particles.sidebar}">
  <div *ngIf="this.particles.repulseScale >= 0.9" class="w-100 h-100 d-flex align-items-center">
    <div class="mx-auto">
      <!-- Add projects video here -->
    </div>
  </div>
</div>
<div class="h-100 w-100 d-flex align-items-center" [ngClass]="(whiteBackground) ? 'whiteIn' : 'whiteOut'">
  <div class="container">
   <div class="row justify-content-center">
      <div class="col-md-6 d-flex align-items-stretch" style="padding-top: 30px">
        <div class="card" (mouseenter)="mouseEnter(0)" (mouseleave)="mouseLeave()">
          <div class="card-body d-flex flex-column">
            <img src="assets/projects/galaxer-icon.jpg" alt="Galaxer logo" class="square-logo mx-auto">
            <div class="card-text">
              <p style="opacity: 90%">Galaxer is a strategy game for 2 to 4 players for Android.</p>
            </div>
            <div class="mt-auto">
              <p> <b> Technologies: </b> <span style="opacity: 90%">C# and Unity3D.</span></p>
              <a href="https://github.com/etorresh/Galaxer" target="_blank"><img src="assets/projects/github.svg" alt="GitHub logo" width="35px"></a>
              <a href="https://play.google.com/store/apps/details?id=com.enodriza.galaxer" target="_blank" class="ml-5" ><img src="assets/projects/playstore.svg" alt="PlayStore logo" width="35px"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch" style="padding-top: 30px">
        <div class="card" (mouseenter)="mouseEnter(1)" (mouseleave)="mouseLeave()">
          <div class="card-body">
            <img src="assets/projects/markov-icon.png" alt="MarkovTweets logo" class="horizontal-logo mx-auto">
            <div class="card-text">
              <p style="opacity: 90%">A Twitter bot that creates and uses Markov chains to fill in tweets.</p>
              <p> <b> Technologies: </b> <span style="opacity: 90%">Python and TwitterAPI.</span></p>
            </div>
            <div>
              <a href="https://github.com/etorresh/MarkovTweets" target="_blank"><img src="assets/projects/github.svg" alt="GitHub logo" width="35px"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" style="padding-top: 30px">
      <div class="col-md-6 d-flex align-items-stretch">
        <div class="card" (mouseenter)="mouseEnter(2)" (mouseleave)="mouseLeave()">
          <div class="card-body">
            <img src="assets/projects/tag-icon.jpg" alt="Tag logo" class="square-logo mx-auto">
            <div class="card-text">
              <p style="opacity: 90%">A plugin for Minecraft servers that adds a game of tag, over 50 downloads.</p>
              <p> <b> Technologies: </b> <span style="opacity: 90%">Java and SpigotAPI.</span></p>
            </div>
            <div>
              <a href="https://github.com/etorresh/Spigot-Tag" target="_blank"><img src="assets/projects/github.svg" alt="GitHub logo" width="35px"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
