.card-body {
  color: #353e3d;
  font-size: 1rem;
  text-align: center;
  padding: 20px 40px 40px;
}

.card-title {
  font-size: 2rem;
  text-align: center;
}

.card {
  width: 100%;
}

.square-logo {
  width: 58px;
  height: 58px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.horizontal-logo {
  width: 188px;
  height: 66px;
  margin-bottom: 15px;
}

.particles-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background: transparent;
  z-index: -99;
}


.video-wrapper {
  height: 100%;
  width: calc(100% - 288px);
  position: fixed;
  z-index: -100;
  background: #2472a3;
}

.video-wrapper-no-sidebar {
  width: 100%;
}

.whiteIn {
  background-color: rgba(255, 255, 255, 1);
}
.whiteOut {
  background-color: rgba(255, 255, 255, 0);
}
