<div class="container">
 <div class="row justify-content-center">
    <div class="col-md-6 d-flex align-items-stretch">
      <div class="card">
        <div class="card-body d-flex flex-column">
          <h1  class="card-title"><b class="pr-2">Galaxer</b></h1>
          <div class="card-text">
            <p style="opacity: 90%">Galaxer is a strategy game for 2 to 4 players for Android.</p>
          </div>
          <div class="mt-auto">
            <p> <b> Technologies: </b> <span style="opacity: 90%">C# and Unity3D.</span></p>
            <a href="https://github.com/etorresh/Galaxer" target="_blank"><img src="assets/github.svg" alt="GitHub logo" width="35px"></a>
            <a href="https://play.google.com/store/apps/details?id=com.enodriza.galaxer" target="_blank" class="ml-5" ><img src="assets/playstore.svg" alt="PlayStore logo" width="35px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><b>MarkovTweets</b></h1>
          <div class="card-text">
            <p style="opacity: 90%">A Twitter bot that creates and uses Markov chains to fill in tweets.</p>
            <p> <b> Technologies: </b> <span style="opacity: 90%">Python and TwitterAPI.</span></p>
          </div>
          <div>
            <a href="https://github.com/etorresh/MarkovTweets" target="_blank"><img src="assets/github.svg" alt="GitHub logo" width="35px"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" style="padding-top: 30px">
    <div class="col-md-6 d-flex align-items-stretch">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><b>Spigot: Tag</b></h1>
          <div class="card-text">
            <p style="opacity: 90%">A plugin for Minecraft servers that adds a game of tag, over 50 downloads.</p>
            <p> <b> Technologies: </b> <span style="opacity: 90%">Java and SpigotAPI.</span></p>
          </div>
          <div>
            <a href="https://github.com/etorresh/Spigot-Tag" target="_blank"><img src="assets/github.svg" alt="GitHub logo" width="35px"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
