html, body {
  font-family: 'Roboto', sans-serif;
}

.carousel-item {
  transition: 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  left: -250px;
}

.carousel-item.active {
  position: relative !important;
  transition: 1s ease !important;
  left: 0;
}
